*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}


.header{
     background:#1da1ce;
     padding:40px 80px ;
     color:white;
}

.logo{
    color: black;   
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:10px;
    font-size:24px;
    font-weight:bold;
    margin-bottom:30px;
}

.logo img{
      height:40px;
}

.hero h1{
     font-size:36px;
     font-weight:500;
}

.hero h1 span{
    display:block;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 80px;
    background: #f3f3f3;
}




.left{
    max-width:550px;
}

.intro{
    font-weight:bold;
    line-height:1.6;
    margin-bottom:25px;
}

.demo_title{
    margin-bottom:20px;
    font-weight:bold;
}

.features{
     list-style:none;
}

.features li{
      display:flex;
      flex-direction: row;

      gap:10px;
      margin-bottom:18px;
}

.features img{
    height:18px;
}


.bottom_text{
     margin-top:20px;
     color:#555;
}



.forms{
    margin-top: -150px;   
    background: white;
    padding: 20px;
    
}
.form_text{
    background-color: rgb(255, 255, 255);
   
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px ;

}

.form_input{
      background-color: rgb(217, 210, 210);
      padding: 20px;
}

.form_group{
      display:flex;
      flex-direction:column;
      margin-bottom:15px;
}

.form_group label{
      font-size:14px;
      margin-bottom:5px;
}

input,select{
      height:35px;
      padding:5px;
      border:1px solid #ccc;
}

.demo_btn{
     background:#7cc242;
     color:white;
     border:none;
     width: 100%;
     height:35px;
     margin-top:10px;

}

.form_note{
     font-size:12px;
     margin-top:10px;
     color:#555;
}



 .last_container{

    background-color: rgb(235, 223, 223);
    height: 200px;
}
.last_container_text{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.images{
    display: flex;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    border: 10px;
    justify-content: space-around;
    gap: 30px;
    height: 100px;
    width: 200px;
}


.ending{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-around;
    content: space-between;
    align-items: center;
}

.links{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    gap: 3px;
    
    list-style-type: none;
   font-size: 10px;
}


   

.links a{
    color: gray;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

.english{
    height: 10%px;
   width: 80%;
}


.copyright{
    font-size: 10px;
    color: gray;
    padding-left: 20px;
}
 